include Changelog.rst
include README.md
include requirements.txt
include LICENSE
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include cfdm/test/create_test_files.npz
include cfdm/test/example_field_0.nc
include cfdm/test/example_field_0.kerchunk
recursive-include cfdm/test/example_field_0.zarr[23] *